<app-nav>
</app-nav>
<div class="limiter animated fadeInLeft">
    <div class="container-login100 p-t-200">
        <div class="wrap-login100 p-t-50 p-b-90">
            <form [formGroup]="loginForm" class="login100-form validate-form flex-sb flex-w">

                <span class="login100-form-title p-b-51">
                    Login
                </span>

                <!-- Email -->
                <mat-form-field class="w-100">
                    <mat-label>
                        Email
                    </mat-label>
                    <input matInput type="text" formControlName="email" autocomplete="off" />
                    <mat-error *ngFor="let validation of validationMessages.email">
                        <span *ngIf="
                        loginForm.get('email').hasError(validation.type)
                        ">
                        {{ validation.message }}
                      </span>
                    </mat-error>
                </mat-form-field>


                <!-- Password -->
                <mat-form-field class="w-100">
                    <mat-label>
                        Password
                    </mat-label>
                    <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" autocomplete="off" />
                    <mat-icon matSuffix class="visibilityIcon" (click)="onTogglePasswordVisibilityClick()">{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    <mat-error *ngFor="let validation of validationMessages.password">
                        <span *ngIf="
                          loginForm.get('password').hasError(validation.type)
                        ">
                        {{ validation.message }}
                      </span>
                    </mat-error>
                </mat-form-field>



                <div class="flex-sb-m w-full p-t-3 p-b-24">
                    <div class="contact100-form-checkbox">
                        <input formControlName="remember" class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            Recordar mi usuario
                        </label>
                    </div>

                    <div>
                        <a routerLink="/registro" class="txt1">
                            ¿No tienes cuenta?
                        </a>
                    </div>
                </div>

                <div class="container-login100-form-btn m-t-17">
                    <button disableRipple class="login100-form-btn" (click)="onLoginClick()">
                   <!-- <button class="login100-form-btn" type="submit">-->
                        Ingresar
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>